body {
  margin: 0px;
}
.navbar {
  background-color: #282F39;
  padding: 10px;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.table {
  margin: 0 auto;
  float: none;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


td {
  border:  none !important;
}
.seat {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 11px 14px;
  color: #ffff;
  margin: 4px 2px;
  float: left;
  width: 21px;
}

.seat-selected {
  background-color: #3365FF !important;
  border: 1px solid #3365FF !important;
}

.seat-available {
  background-color: #fff;
  border: 1px solid #3365FF;
}

.seat-available:hover, .seat-available:focus{
  background-color: #3365FF;
  border: 1px solid #3365FF;
  cursor: pointer;
}


.seat-unavailable {
  border: 1px solid #e3e3e3 !important;
  background: #e3e3e3 !important;
}
