@font-face {
src: url('../fonts/Questrial-Regular.ttf') format('truetype');
font-family: 'Questrial';
}

/*--Global Styles --*/
body {
  margin: 0px;
  background-color: #252432 !important;
  color: #fff !important;
  font-family: 'Questrial',sans-serif !important;
  overflow-x: hidden;
}


ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a , a:hover, a:active{
  text-decoration: none;
}

button[disabled] {
    cursor: default;
    background-color: buttonface !important;
    color: graytext;
}


.no-float{
  float: none !important;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}


.row-centered {
    text-align:center;
}
.col-center-block {
    float: none !important;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}



/*--Header--*/
.header {
  margin:25px 0px 50px;
  text-align: center;
  letter-spacing: 1px;
}

.header-icon {
  width: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
}

/*--Seating Arrangement Table Styles--*/
.table {
  margin: 0 auto;
  float: none;
}


td , th{
  border:  none !important;
}

.row-name {
  text-align: center;
  padding: 25px 20px !important;
  width: 10px;
}

/*--Seat Styles--*/
.seat {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 11px 14px;
  margin: 4px 2px;
  color: #7976a0;
  float: left;
  text-align: center;
  width: 50px

}

.seat-selected {
  background-color: #3983fd !important;
  border: 1px solid #3983fd !important;
  color: #fff;
}

.seat-available {
  background-color: #fff;
  border: 1px solid #fff;
}

.seat-available:hover, .seat-available:focus{
  background-color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}


.seat-unavailable {
  background-color: #3F3F56 !important;
  border: 1px solid #3F3F56 !important;
  pointer-events: none;
  color: #d3d3d3;
  cursor: none;
}

.seat-number {
  text-align: center;
  color: inherit;
}

.disable-selection {
  pointer-events: none;
  color: rgba(0, 0, 0, 0);
}

.chosen {
    background: #009a68;
    padding: 5px;
    color: #FFF !important;
    border-radius: 5px;
    font-size: 13px;
    margin-left: 7px;
    text-align: center;
    font-weight: bold;
    color: white;
}

/*--Booking Button--*/
#bookNowBtn {
    padding: 10px 25px;
    background-color: #3983fd;
    border-radius: 50px;
    border: none;
    margin-bottom: 30px;
}

#bookNowBtn:hover {
background-color: #3983fd;
}



/* Snackbar notification*/
#notification {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(70, 70, 96);
  color: #fff;
  text-align: center;
  border-radius: 100px;
  padding: 15px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 25px;
  margin-bottom: 0px;
}

/* Show the snackbar on click with animation */
#notification.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
