<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">

  <script src="../components/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="../components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../components/bootstrap/dist/css/bootstrap.min.css">


  <script src="../components/angular/angular.min.js"></script>
  <script src="./app.js" charset="utf-8"></script>
  <script src="./scripts/factory/movies.factory.js"></script>
  <script src="./scripts/controllers/ticket.controller.js" charset="utf-8"></script>



  <title>Ticket Machine</title>
</head>

<body ng-app="TicketMachine" ng-controller="TicketController" ng-init="init()" ng-cloak>
  <div class="container-fluid">
    <div class="row header">
      <div class="col-md-12">
        <h1> <img src="img/popcorn.svg" class="header-icon" alt=" ">
            <strong>Ticket Machine</strong></h1>
      </div>
    </div>

    <!--Legends/Indicators-->
    <div class="row">
      <div class="col-md-2" id="legends">
        <div class="col-md-1 no-float margin-left-30">
          <a class="seat seat-available" style="width: 10px;">
        </a>
          <p style="padding: 6px 40px;">Available</p>
        </div>
        <div class="col-md-1 no-float margin-left-30">
          <a class="seat seat-selected" style="width: 10px;">
    </a>
          <p style="padding: 6px 40px;">Selected</p>
        </div>
        <div class="col-md-1 no-float margin-left-30">
          <a class="seat seat-unavailable" style="width: 10px;">
    </a>
          <p style="padding: 6px 40px;">Unavailable</p>
        </div>
      </div>


      <!--Seat Map Grid-->
      <div class="col-md-10 col-center-block" id="booking">
        <table class="table" cellspacing="0" cellpadding="0" style="width:0px;">
          <tbody>
            <tr ng-repeat="row in rowNames" id="row-{{rowNames[$index]}}">
              <td class="row-name">
                <div>
                  {{row}}
                </div>
              </td>
              <td>
                <div id="column-{{$index}}" class="seat seat-available" ng-repeat="col in seatsInEachColumn" ng-click="selected=!selected; selectSeat(selected,row,col)" ng-class="{'seat-selected':selected ,  'seat-unavailable' : takenSeats['{{row}}{{col}}']}">
                  <a ng-class="{'disable-selection' : takenSeats['{{row}}{{col}}']}" class="seat-number">{{col}}</a>
                </div>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

      <!-- Printing Selected Seats-->
      <div class="row margin-bottom-30" id="chosen-seats" ng-hide="nothingSelected">
        <div class="col-md-12 col-center-block text-center">
          <span>  Selected Seats : </span>
          <span class="chosen" ng-repeat="(key,value) in selectedSeats">
          {{key}}
          </span>
        </div>
      </div>


      <div class="row">
        <div class="col-md-3 col-center-block text-center">
          <button type="button" id="bookNowBtn" name="button" ng-click="bookTickets()" ng-disabled="nothingSelected">BOOK NOW</button>
          <p style="margin-top: 50px;" id="notification"> The seats <span ng-repeat="(key,value) in currentBooking"> {{key}} </span> have been booked.</p>
        </div>
      </div>


    </div>

  </div>
</body>

</html>
